<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tallenge_lt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="AllowBackup">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignActivity" />
        <activity android:name=".SetAlarmActivity" />
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".ChatListActivity" />
        <activity android:name=".CertifyExpActivity" />
        <activity android:name=".ChooseExpActivity" />
        <activity android:name=".ModifyInfoActivity" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".AddCheckList" />
        <activity android:name=".SetCheckListActivity" />
        <activity android:name=".ListAndAlarmActivity" />
        <activity android:name=".ChooseListActivity" />
        <activity android:name=".ListSetActivity" />
        <activity android:name=".InterestActivity" />
        <activity android:name=".ExpActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>